@using System.Globalization
@using Updog.Core.Models

@page "/accounts"

<EnsureAuthenticated>
    <PageTitle>Accounts | updog</PageTitle>

    <h1 Class="mb-4">Accounts</h1>

    <MudStack>
        @if (_loading)
        {
            <MudProgressLinear Indeterminate="true" Color="Color.Primary" />
        }
        else
        {
            RenderAccount(_spendingAccount);
            @if (_2UpSpendingAccount != null)
            {
                RenderAccount(_2UpSpendingAccount);
            }

            <MudDivider />

            var saverSubtitle = _2UpSavers.Any() ? "PERSONAL SAVER" : null;

            @foreach (var account in _savers)
            {
                RenderAccount(account, saverSubtitle);
            }
            @foreach (var account in _2UpSavers)
            {
                RenderAccount(account, "2UP SAVER");
            }

            <MudDivider />

            @if (_homeLoanAccount != null)
            {
                RenderAccount(_homeLoanAccount);
            }
        }

        @{
            void RenderAccount(AccountResource account, string? subtitle = null)
            {
                <MudPaper>
                    <MudButton FullWidth="true" Class="pa-6 justify-start" Color="Color.Transparent"
                        Href="@($"transactions?account={account.Id}")">
                        <MudStack Spacing="0">
                            <MudText Typo="Typo.body1" Align="Align.Left">
                                @account.Attributes.DisplayName
                            </MudText>
                            @if (subtitle != null)
                            {
                                <MudText Typo="Typo.caption" Class="mud-text-disabled">
                                    @subtitle
                                </MudText>
                            }
                        </MudStack>
                        <MudSpacer />
                        <MudText Typo="Typo.body1" Align="Align.Right" Style="white-space:nowrap">
                            @account.Attributes.Balance.ToDisplayString()
                        </MudText>
                        <MudIcon Icon="@Icons.Material.Filled.ChevronRight" Class=" ml-6 mud-text-disabled" />
                    </MudButton>
                </MudPaper>
            }
        }
    </MudStack>
</EnsureAuthenticated>